In [1]:
# IF CONDITION
x= 1356
if x%2==0 :
     print("This number is even.") 
print("The End")

This number is even.
The End

In [3]:
# IF - ELSE CONDITION
num=input("Enter a num")
if num.isnumeric():
    print("WELLDONE")
    num=int(num)
else:
    print(" WRONG INPUT")

 WRONG INPUT

a="a1"
a.isnumeric() # is a function

In [7]:
#NESTED IF CONDITION 
username="James Moriarty"
email="moriarty@gmail.com"
password="221b"
if username=="James Moriarty":
    if email=="moriarty@gmail.com":
        if password=="221b":
           print("Did you missed me? ") 
        else:
            print("Incorrect password")
    else:
        print("Incorrect email")
else:
    print("Incorect username ")

Did you missed me?

In [9]:
# IF ELIF ELSE CONDITION 
username="James Moriarty"
email="moriarty@gmail.com"
password="221B"
if username!="James Moriarty":
   print("Incorect username ")       
elif email!="moriarty@gmail.com":   
   print("Incorrect email")
elif password!="221B":
    print("Incorrect password")
else: 
     print("Did you missed me? ")

Did you missed me?

WAP TO CALCULATE THE GRADE OF STUDENTS BASED ON MARKS WITH FOLLOWING RULES :
 if marks >=90 grade is A
 if marks >=80 grade is B
 if marks >=70 grade is C
 if marks >=60 grade is D
 if marks <60 grade is F
 if marks isn't number then it will be "INVALID".

In [13]:
marks=input("Enter marks:")
if marks.isnumeric():
    marks=int(marks)
    if marks >= 90:
        print("GRADE A")
    elif marks >=80:
        print("GRADE B")
    elif marks >= 70:
        print("GRADE C")
    elif marks >= 60:
        print("GRADE D")
    elif marks < 60:
        print("GRADE F")
else:
    print("INVALID")

GRADE C

In [1]:
x="PYTHON"
for i in x: 
    print(i)

P
Y
T
H
O
N

In [2]:
fruits=["apple","banana","cherry"]
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have cherry

string settings 
 r= raw strings (for addresses of file and can put in double quotes)
 f= formatted string (allows to put variables in string )
 b= byte string

EXAMPLES OF FUNCTION range()

In [4]:
for i in range(6):
 print("you got point",i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [5]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [6]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [7]:
#reverse loop 
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [11]:
#pattern loop 
for i in range(10):
    print(i*"Na")

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

EXTRA FUNCTION SETTINGS FOR for loop
*enumerate
*zip

In [3]:
fruits=['apple','banana','cherry','strawberry','kiwi','rasberry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry
strawberry
kiwi
rasberry

In [15]:
for fruit in enumerate(fruits):
    print(fruit)

(0, 'apple')
(1, 'banana')
(2, 'cherry')
(3, 'strawberry')
(4, 'kiwi')
(5, 'rasberry')

In [17]:
for i, fruit in enumerate(fruits):
    print(i,fruit)

0 apple
1 banana
2 cherry
3 strawberry
4 kiwi
5 rasberry

In [2]:
prices=[100,200,300,400,500,600]

In [4]:
for f,p in zip(fruits,prices):
    print(f,"=>",p)

apple => 100
banana => 200
cherry => 300
strawberry => 400
kiwi => 500
rasberry => 600

In [8]:
qty=['2kg','2dozen','1kg','1/2kg','6kg']

In [9]:
for f,q,p in zip(fruits,prices,qty):
    print(f,'=>',q,'for',p)

apple => 100 for 2kg
banana => 200 for 2dozen
cherry => 300 for 1kg
strawberry => 400 for 1/2kg
kiwi => 500 for 6kg