In [13]:
# Defining list in python
# List of string
list1= [ 'Rushil', 'Hashim','Heba', 'Harsh']
# List of numbers 
list2= [1,2,3,4]
# Mixed Data list
list3= ['Rushil', 'Hashim',"B",False, 23.456893 ,1,2,3,4 ]
# Nested list
list4=[[1,2,3],[4,5],[6,7,8]]

In [14]:
# Accessing list items in Python -
list1= [ 1,2,3,'A','B',4,5,6,'C','D']
# First item -
print('list1=',list1)
# Second item - 
print('list1[0]=',list1[0])
# Third item - 
print('list1[4]=',list1[4])
# Last item -
print('list1=[7]',list1[7])

list1= [1, 2, 3, 'A', 'B', 4, 5, 6, 'C', 'D']
list1[0]= 1
list1[4]= B
list1=[7] 6

In [15]:
# Getting a list sliced
l =[10,20,30,40,50,60,70,80,90,100]
slice1 = l[3:-2]
print(slice1)
slice2 = l[:5]
print(slice2)
slice3 = l[0:5]
print(slice3)
slice4 = l[-4:]
print(slice4) 
slice5 = l[5:len(l)]
print(slice5)

[40, 50, 60, 70, 80]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[70, 80, 90, 100]
[60, 70, 80, 90, 100]

*Function used in list*

In [16]:
# Append function
fruits = []
fruits.append("strawberry")
fruits.append("rasberry")
fruits.append("blueberry")
fruits.append("mulberry")
fruits

['strawberry', 'rasberry', 'blueberry', 'mulberry']

In [17]:
# Insert function 

fruits = ['strawberry', 'rasberry', 'blueberry', 'mulberry']
fruits.insert(3,"apple")
print(fruits)

['strawberry', 'rasberry', 'blueberry', 'apple', 'mulberry']

In [18]:
# Extend function 
fruits = ['strawberry', 'rasberry', 'blueberry', 'apple', 'mulberry']
dry_fruits = ['cashew','almond','walnut']
fruits.extend(dry_fruits)
fruits

['strawberry',
 'rasberry',
 'blueberry',
 'apple',
 'mulberry',
 'cashew',
 'almond',
 'walnut']

In [19]:
# Sort function 
fruits =['strawberry','rasberry','blueberry','apple','mulberry','cashew','almond','walnut']
fruits.sort()
fruits

['almond',
 'apple',
 'blueberry',
 'cashew',
 'mulberry',
 'rasberry',
 'strawberry',
 'walnut']

In [20]:
# Remove function 
fruits =['strawberry','rasberry','blueberry','apple','mulberry','cashew','almond','walnut']
fruits.remove('rasberry')
fruits

['strawberry', 'blueberry', 'apple', 'mulberry', 'cashew', 'almond', 'walnut']

In [21]:
# Reverse function 
ruits =['strawberry','rasberry','blueberry','apple','mulberry','cashew','almond','walnut']
fruits.sort(reverse= True)
fruits

['walnut', 'strawberry', 'mulberry', 'cashew', 'blueberry', 'apple', 'almond']

In [22]:
# COUNT FUNCTION
x = [1,2,3,4,56,7,8,9,1,1,1,5,5,5,56,3,9]
x.count(56)

2

In [23]:
# Index function
words = ['A','B','C','D','E','F','G','H','I']
words.index('G')

6

In [24]:
# Copy function 
fruits = ['apple','banana']
dup_fruits = fruits.copy()
print(dup_fruits)

['apple', 'banana']

In [25]:
# Clear function 
fruits = ['apple','banana']
fruits.clear()
fruits

[]

In [26]:
# Pop function 
# BY list.pop method -
fruits = ['apple','banana','starfruit']
v = fruits.pop()
print(v)
# BY list.pop(idx) method -
fruits = ['apple','banana','starfruit']
v = fruits.pop(1)
print(v)

starfruit
banana

Mean , Median , Min , Max , Std

In [27]:
from statistics import median


x= [2,4,6,7,4,3,2,1,6,7]
# mean
mean = sum(x)/len(x)
print(mean)

# median 
x.sort
if len(x) % 2 ==0:
    median = (x[len(x)//2]+ x[len(x)//2 - 1])/2
else:
    median = x[len(x)//2]
    
print(median)

# min 
print(min(x))

# max
print(max(x))

# std

# ?

4.2
3.5
1
7

In [28]:
# add 2 lists together element wise and produce a new list 
x = [1,2,3]
y = [3,2,1]
z = []
for i, j in zip(x,y):# two or more than iterables ko nikalna aur add krna / sath me use krna 
  z.append(i+j)
z

[4, 4, 4]

In [29]:
# create a list where every element is a sqr
# of element from an existing list 
x = [ 1,2,3,4,5]
y = []
for i in x :
    y.append(i**2)
print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [30]:
# create a list where every odd element is a sqr
# of element from an existing list 
x = [ 1,2,3,4,5]
y = []
for i in x :
  if i% 2 != 0:
   y.append(i**2)
print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 9, 25]

In [ ]:
# create a abbrevation list from an existing list of words
words =['Strawberry Sorbet','Rasberry Jam','Apple Juice','Cashew Milk ','Almond Milk']
x = []
for item in words:
    items = item.split()
    s = ''
    for i in items :
        s += i[0]
    x.append (s)
print(x)

In [52]:
# take a list from user it one line of input and then 
# remove all the non numeric values from list 
# then display the cubes of numbers  from list 
x =input('enter value:')
print(x)
y =[]
#for values in x.split() :
#    if values.isnumeric():
#    y.append(int(values))
y = [int(values) for values in x.split() if values.isnumeric()]
print(y)
cubes = [i**3 for i in y]
print(cubes)

vm 10 vn
[10]
[1000]

**LIST COMPREHENSION**
*Is a way to create a list from existng list using one line of expression *
 - Syntax

newlist = [expression for item in oldlist ]
 - With condition
 
newlist = [expression for item in oldlist if condition]