**TUPLE**

In [1]:
a =(1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b=1, 3, 5, 7
print(b)
print(type(b))

(1, 3, 5, 7)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

1
2
3
4

In [4]:
# concatenation
print((1,2,3)+(4,5,6))
# repeat
print(("Repeat,")*3)

(1, 2, 3, 4, 5, 6)
Repeat,Repeat,Repeat,

In [5]:
my_tuple = ('a','b','c')
print(my_tuple.count('b'))
print(my_tuple.index('c'))

1
2

In [6]:
al = list(a)
print(al)

[1, 2, 3, 4]

In [7]:
val = [1,2,4,5,7,8]
print(val)
valt = tuple(val)
print(valt)

[1, 2, 4, 5, 7, 8]
(1, 2, 4, 5, 7, 8)

**SET**

In [8]:

my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [9]:
my_set = set([1,2,3,2]) # we can make set from list
print(my_set)

{1, 2, 3}

In [10]:
my_set = {1,2,3,4,3,2} # set cannot have duplicate 
print(my_set)

{1, 2, 3, 4}

In [11]:
a = set() # initialization a with set()
print(type(a)) # check data type of a

<class 'set'>

In [12]:
my_set = {1,2}
print(my_set)
my_set.add(2)# to add value
print(my_set)
my_set.update([2,3,4]) # to add more than one value at a time 
print(my_set)
my_set.update([4,5],{1,6,8}) # we can add list and set
print(my_set)

{1, 2}
{1, 2}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [13]:
my_set = {1,2,3,4,5,6}
print(my_set) 
my_set.discard(4)
print(my_set)
my_set.pop() # pops random item
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
{2, 3, 5, 6}
set()

*Set Union*

In [14]:
A ={1,2,3,4,5}
B ={2,3,4,5,6}
print(A|B)
A.union(B)
B.union(A)

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

*Set intersection*

In [15]:
print(A & B)
A.intersection(B)

{2, 3, 4, 5}

{2, 3, 4, 5}

*Set difference*

In [16]:
print( A - B )
A.difference(B)
B - A 
{8,6,7}

{1}

{6, 7, 8}

*Set symmetric difference*

In [17]:
print(A^B)
A.symmetric_difference(B)
{1,2,3,6,7,8}

{1, 6}

{1, 2, 3, 6, 7, 8}

In [18]:
A ={'fan','LED','Refrigerator'}
B ={'bulb','air conditioner','LED','Refrigerator'}
print(A|B)
print(A^B)
print( A - B )
print(A & B)

{'LED', 'air conditioner', 'bulb', 'Refrigerator', 'fan'}
{'air conditioner', 'bulb', 'fan'}
{'fan'}
{'LED', 'Refrigerator'}

**DICTIONARY**

In [19]:
my_dict = {'name':'Rushil','age': 20}
print(my_dict['name'])

Rushil

In [20]:
print(my_dict.get('age'))

20

In [21]:
print(my_dict.get('address'))

None

In [22]:
my_dict['age'] = 21
print(my_dict)

{'name': 'Rushil', 'age': 21}

In [23]:
my_dict['address'] = 'lucknow'
print(my_dict)

{'name': 'Rushil', 'age': 21, 'address': 'lucknow'}

In [24]:
squares = {1:1,2:4,3:9,4:16,5:25}
print(squares.pop(3))
print(squares.popitem())
squares.clear()

9
(5, 25)

 - set => list
 - set => tuple
 - list => set
 - tuple => set

In [25]:
report ={
    'student1': {
        'name' : 'Rushil',
        'marks' : {
            'maths':90,
            'physics':80,
            'chemistry':70
        }
    }
}

In [26]:
print(report['student1'])

{'name': 'Rushil', 'marks': {'maths': 90, 'physics': 80, 'chemistry': 70}}

In [27]:
print(report['student1']['name'])
print(report['student1']['marks'])
print(report['student1']['marks']['chemistry'])

Rushil
{'maths': 90, 'physics': 80, 'chemistry': 70}
70

In [28]:
# loop for dictionary
for i in report:
    print(i)

student1

In [29]:
for k,v in report.items():
    print(k,v)

student1 {'name': 'Rushil', 'marks': {'maths': 90, 'physics': 80, 'chemistry': 70}}

In [30]:
for k,v in report.items():
    print("student:", k)
    if isinstance(v,dict):
        for k1,v1 in v.items():
            print("name",k1)
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
                else:print(v1)
        else: print(v)

student: student1
name name
name marks
maths 90
physics 80
chemistry 70
{'maths': 90, 'physics': 80, 'chemistry': 70}
{'name': 'Rushil', 'marks': {'maths': 90, 'physics': 80, 'chemistry': 70}}